# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS files
.DS_Store
Thumbs.db

# Env files
.env

# IDE files
.vscode/
.idea/

# Dependency directories
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Output of 'npm pack'
*.tgz

# Coverage directory used by tools like istanbul
coverage/

# Misc
.sass-cache/
connect.lock

.dockerignore

wallets.txt
proxies.txt
